<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ this.data?.name }}</h5>
          <p class="card-text">Height: {{ this.data?.height }} <br>Weight: {{ this.data?.weight }}</p>
          <div class="nav">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a [ngClass]="{'active': this.switcher == 'abilities'}" class="nav-link" id="abilities-tab" data-bs-toggle="tab" role="tab"
                  aria-controls="abilities" aria-selected="true" (click)="this.toggle($event)">Abilities</a>
              </li>
              <li class="nav-item" role="presentation">
                <a [ngClass]="{'active': this.switcher == 'moves'}" class="nav-link" id="moves-tab" data-bs-toggle="tab"  role="tab"
                  aria-controls="moves" aria-selected="false" (click)="this.toggle($event)">Moves</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div *ngIf="this.switcher == 'abilities'" [ngClass]="{'show active': this.switcher == 'abilities'}" class="tab-pane fade" id="abilities" role="tabpanel" aria-labelledby="abilities-tab">
                <div *ngFor="let item of this.data?.abilities; let index = index">
                  <span>{{ (index + 1) + ' ' + item.ability?.name }}</span>
                </div>
              </div>
              <div *ngIf="this.switcher == 'moves'" [ngClass]="{'show active': this.switcher == 'moves'}" class="tab-pane fade" id="moves" role="tabpanel" aria-labelledby="moves-tab">
                <div *ngFor="let item of this.data?.moves; let index = index">
                  <span>{{ (index + 1) + ' ' + item.move?.name }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>