
<mat-grid-list cols="3" rowHeight="1.5:1" >
  <mat-grid-tile *ngFor="let a of data[0]">

    <div class="card " style="width: 18rem;" >
      <div class="container">
        
        <div class="card-body">
          <h5 class="card-title">Name: {{a.name}}</h5>
        </div>
        <button style="width: 100%;" (click)="init(a.name)" type="button"
        class="btn btn-secondary btn-block">VER MAS</button>
        <!-- <ul class="list-group list-group-flush">
          <li class="list-group-item">Height: {{a.url}}</li>
          <li class="list-group-item">Weight: {{a.weight}}</li>
        </ul> -->
      
        <!-- <div class="row">
          <div class="col">
            <button style="width: 100%;" (click)="mostrar = !mostrar" type="button"
              class="btn btn-secondary btn-block">Abilitys</button>
            <div id="most" *ngIf="mostrar">
              <a class="list-group-item" *ngFor="let item of habilities">{{item.ability.name }}</a>
            </div>
          </div>
    
          <div class="col">
            <button style="width: 100%;" (click)="mostrar2 = !mostrar2" type="button"
              class="btn btn-secondary btn-block">Moves</button>
         
            <div id="most" *ngIf="mostrar2">
              <a class="list-group-item" *ngFor="let item of moves">{{item.move.name }}</a>
            </div>
          </div>
        </div> -->
      </div>
    </div>

  </mat-grid-tile>

</mat-grid-list>

<app-paginator (data)="muestra($event)"></app-paginator>